astropy~=5.3
bs4~=0.0.1
connexion
flask
flask_compress
flask_cors
iso8601
numpy~=1.23.5
pandas~=1.5.3
#psycopg2-binary
#psycopg2
Pillow~=9.2.0
ruptures~=1.1.7
scikit-image~=0.18.3
#scipy==1.1.0
scipy~=1.9.3
skyfield~=1.46
sortedcontainers~=2.3.0
sunpy~=4.0.13

matplotlib~=3.6.3
radiospectra~=0.4.0
psycopg2~=2.9.6
SQLAlchemy~=1.4.48
mpu~=0.23.1
packaging~=21.3
setuptools~=65.5.1
pytest~=6.2.5
beautifulsoup4~=4.11.2
requests~=2.28.2
ephem~=4.1.4
mysql~=0.0.3
pytz~=2022.2.1
astral~=3.2
paramiko~=3.2.0
easywebdav~=1.2.0